* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color_primario: #f6e231;
  --color_secundario: #2a2929;
  --tamanio_fuente: 18px;
  --maximo_ancho: 1200px;
}

::selection {
  background-color: var(--color_primario);
  color: var(--color_secundario);
}

body {
  font-size: var(--tamanio_fuente);
}

header {
  background-color: var(--color_primario);
  color: var(--color_secundario);
}

.contenedor {
  width: 100%;
  max-width: var(--maximo_ancho);
  margin: 0 auto;
  overflow: hidden;
}

.nav {
  height: 70px;
}

.nav__contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__lista {
  list-style: none;
  display: flex;
}

.logo {
  height: 90px;
  width: 100px;
}

.nav__link {
  text-decoration: none;
  color: var(--color_secundario);
  font-weight: bold;
}
