@import url("https://fonts.googleapis.com/css2?family=Faculty+Glyphic&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color_primario: #f6e231;
  --color_secundario: #2a2929;
  --color_blanco: #c2c2c2;
  --tamanio_fuente: 18px;
  --maximo_ancho: 1200px;
  --alto_nav: 40px;
}

::selection {
  background-color: var(--color_primario);
  color: var(--color_secundario);
}

html {
  scroll-behavior:smooth ;
  scroll-padding-top: var(--alto_nav); /* Ajustar el desplazamiento de scroll */
}

body {
  font-size: var(--tamanio_fuente);
  background-color: var(--color_secundario);
  color: var(--color_blanco);
}

header {
  background-color: var(--color_primario);
  color: var(--color_secundario);
  font-family: "Faculty Glyphic", sans-serif;
  position: sticky;
  width: 100%;
  top: 0;
}

section {
  padding: 20px 0; /* Reducir el padding superior e inferior */
  margin-bottom: 40px;
  scroll-margin-top: var(--alto_nav);  /* Ajustar el margen de desplazamiento */
}

.contenedor {
  width: 100%;
  max-width: var(--maximo_ancho);
  margin: 0 auto;
  overflow: hidden;
}

.h-100 {
  height: calc(100vh - var(--alto_nav));
}

.nav {
}

.nav__contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__lista {
  height: var(--alto_nav);
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.logo {
  height: 90px;
  width: 100px;
}

.nav__link {
  text-decoration: none;
  color: var(--color_secundario);
  font-weight: bold;
}

.logo1 {
  height: 500px;
  width: 500px;
}

/*------------- Principal*-------------*/

.principal {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo1 {
  order: 1;
  flex-basis: 40%;
}

.contenedor-textos {
  order: 0;
  flex-basis: 50%;
}

.titulo {
  font-size: 48px;
  font-weight: 700;
}

.parrafo {
  margin: 20px;
  font-weight: 300;
  font-size: 24px;
}

.btn {
  display: inline-block;
  background-color: var(--color_primario);
  color: var (--color_secundario);
  text-decoration: none;
  font-weight: 700;
  padding: 16px 30px;
  border-radius: 30px;
}

.btn--negro {
  background-color: var(--color_secundario);
  color: var(--color_blanco);
}

.logo2 {
  height: 500px;
  width: 500px;
}

/*------------Servicios---------*/

.text-center {
  text-align: center;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card__item {
  max-width: 350px;
  width: 30%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0, 5);
  text-align: center;
  background-color: var(--color_blanco);
  color: var(--color_secundario);
  padding: 40px 0;
  border-radius: 10px;
}

.card__plan {
  margin-bottom: 20px;
}

.card__precio {
  font-size: 3rem;
  margin-bottom: 20px;
}

.card__caracteristica {
  margin-bottom: 25px;
}

.card__item--activo {
  background-color: var(--color_primario);
}

.servicios {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*------------Galería y Contacto---------*/

.galeria-section, .contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;  /* Centra el contenido verticalmente */
  padding: 20px 0;  /* Reducir el padding superior e inferior */
}

.galeria__fotos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-width: 800px;
  margin: 0 auto;  /* Centrado */
}

.galeria__foto {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.formulario {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;  /* Reducir el padding */
  background-color: var(--color_secundario);
  color: var(--color_blanco);
  border-radius: 10px;
  max-width: 400px;  /* Reducción del ancho del formulario */
  width: 100%;
  margin: 0 auto;  /* Centrado */
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-group label {
  font-size: 1.2rem;
}

.form-group input,
.form-group textarea {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid var(--color_secundario);
  border-radius: 5px;
  background-color: var(--color_blanco);
  color: var(--color_secundario);
}

.formulario .btn {
  display: inline-block;
  background-color: var(--color_primario);
  color: var(--color_secundario);
  text-decoration: none;
  font-weight: 700;
  padding: 16px 30px;
  border-radius: 30px;
  align-self: center;
}
